<div class="container mt-10">
    <div class="card">
        <div class="card card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-2">
                <h6> <i class="fa fa-user"></i> {{trip.driver.Firstname}} H, 35ans</h6>
                  <div>
                     <img class="img-responsive rounded-circle" src="http://via.placeholder.com/32x32" alt="Card image cap">
                  </div>
                  <div>
                    <p>il y a 1 heure</p>
                  </div>
                </div>
                <div class="col-sm-8">
                   <h4 class="card-title">Ordinateur</h4>
                   <div>
                   <p> Paris(75000) <i class="fas fa-arrow-alt-circle-right"></i> Lyon(69000)</p>
                   </div>
                   <p class="card-text">Boot polish is a waxy paste,
                      cream, or liquid used to polish, shine, and waterproof </p>
                   <a href="#" class="btn btn-primary" [routerLink]="['/advert/',trip.id]" >Details</a>
                 </div>
                 <div class="col-sm-2">
                <div>
                   <p>Prix: <span class="font-weight-bold" style="font-size: 1.2rem;">50€</span> </p>
                </div>
                <div>
                   <p>Poids: <span class="font-weight-bold" style="font-size: 1.2rem;">50</span>Kgs </p>
                </div>
                <!-- <div>
                  <hr/>
                  <p>Longeur: <span class="font-weight-bold" style="font-size: 1rem;">50</span>cm </p>
                  <p>Largeur: <span class="font-weight-bold" style="font-size: 1rem;">50</span>cm </p>
                  <p>Hauteur: <span class="font-weight-bold" style="font-size: 1rem;">50</span>cm </p>
                </div> -->
                 </div>
              </div>
            </div>
         </div>
      </div>
</div>