


<div class="bg-1 padding-150 animated fadeInDown" id="start">
  <div class="container">
      <h1>Expédition et Transport des Objets entre Particuliers</h1>
      <div class="row justify-content-md-center">
         <div class="form-inline text-center ">
          <div class="col-md-3">
            <input class="form-control" type="text" name="departure" id="depart" placeholder="Ville de départ" required/>
          </div>
        <div class="col-md-3  text-center">
          <input class="form-control" type="text" name="destination"  id="destination" placeholder="Ville de destination" required/>
        </div>
        
        <div class="col-md-3">
          <button type="submit" name="transport" class="btn btn-outline-warning btn-lg">Transport d'Objets</button>
        </div>
        <div class="col-md-3">
          <button type="submit" name="expedition" class="btn btn-outline-success btn-lg">Expédition d'Objets</button>
        </div>
         </div>
      </div>
  </div>
</div>

<hr>
   <!-- FEATURES 
      - grille : ordering
      - font awesome
  -->
  <div id="ccmarche" class="padding-80">
      <div class="container">
           <!-- row-->
          <div class="row text-center">
              <div class="col-md-12">                     
                  <h2 class="font-70">COMMENT ÇA MARCHE</h2>
              </div>
          </div>
          <!-- end row-->
          <br> <br>

          <!-- row-->
          <div class="row">

              <div class="col-md-12">
                  <!-- 1st row -->
                  <div class="row text-center">
                          <div class="card   border-success"  >
                              <div class="card-header bg-transparent border-success">
                                <h2> Je veux expédier un objet</h2>
                              </div>
                              <div class="card-body text-left">
                                <h5 class="card-title">Faites des economies sur les frais d'envoi de votre objet</h5>
                                <button type="button" class="btn btn-primary ccenum">
                                   <span class="badge badge-primary">1</span>
                                  </button>
                                  <span> Je publie une annonce sur Beluga</span>
                                  <br>
                                <button type="button" class="btn btn-primary ccenum">
                                    <span class="badge badge-primary">2</span>
                                    </button>
                                    <span> Beluga recherche des voyageurs vers la destination de votre colis</span>
                                <br>
                                <button type="button" class="btn btn-primary ccenum">
                                    <span class="badge badge-primary">3</span>
                                    </button>
                                    <span> Vous discutez librement sur les modalités</span>
                                   <br>
                                   <button type="button" class="btn btn-primary ccenum">
                                      <span class="badge badge-primary">4</span>
                                      </button>
                                      <span> Vous vous évaluez mutuellement après réception du colis sur Beluga</span>
                                  </div>
                            </div>
  
                           <div class="card ml-auto border-info" >
                              <div class="card-header bg-transparent border-info">
                                <h2> Je veux transporter un objet</h2>
                              </div>
                              <div class="card-body text-left">
                                <h5 class="card-title"> Je veux rentabiliser mon trajet et rendre service</h5>
                                <button type="button" class="btn btn-info ccenum">
                                    <span class="badge badge-info">1</span>
                                   </button>
                                   <span> Je publie mon trajet sur Beluga</span>
                                   <br>
                                   <button type="button" class="btn btn-info ccenum">
                                      <span class="badge badge-info">2</span>
                                     </button>
                                     <span> Beluga recherche des expéditeurs vers votre destination</span>
                                     <br>
                                     <button type="button" class="btn btn-info ccenum">
                                        <span class="badge badge-info">3</span>
                                       </button>
                                       <span> Vous discutez librement sur les modalités</span>
                                       <br>
                                       <button type="button" class="btn btn-info ccenum">
                                          <span class="badge badge-info">4</span>
                                         </button>
                                         <span> Vous vous évaluez mutuellement après réception du colis</span>
                              </div>
                            </div>
                  </div>


              </div>        
          </div>
          <!-- end row-->

      </div>    
    </div>

<hr>
    <div id="voyages" class="bg-warning">
        <div class="container padding-80">
           
            <!-- row-->
            <div class="row text-center">
  
                <div class="col-md-12">
                    <h1 class="font-70">PROCHAINS TRAJETS ET VOYAGES</h1>

                </div>
                
            </div>
             <!-- end row-->
        </div>
      </div>


  <!-- moyens de transport -->

  <div id="transports" class="padding-80">
      <div class="container">
           <!-- row-->
          <div class="row text-center">
          
              <div class="col-md-12">                     
                  <h2 class="font-70">QUELQUE SOIT LE MOYEN DE TRANSPORT</h2>
              </div>
          </div>
          <!-- end row-->
          <br> <br>

          <!-- row-->
          <div class="row">
              <div class="col-md-12">
                  <!-- 1st row -->
                  <div class="row text-center">

                      <div class="col-md-3">
                              <div class="feature-item">
                                  <i class="fa fa-car fa-5x icon-color" aria-hidden="true"></i>
                                  <h3>Prochain voyage</h3>
                                  <p class="text-muted  text-justify">Lors de votre prochain voyage, vendez vos places libres dans vos bagages en soute, cabine, coffre de voiture, sac à main</p>
                              </div>
                       </div>
                       <div class="col-md-3">
                          <div class="feature-item">
                              
                              <i class="fa fa-ship fa-5x icon-color" aria-hidden="true"></i>
                              <h3>En toute confiance</h3>
                              <p class="text-muted text-justify">Vous êtes libre d'accepter ou refuser une proposition d'un expéditeur. Vous devez vérifier le contenu avant d'accepter un colis.</p>
                          </div>
                   </div>
                   <div class="col-md-3">
                      <div class="feature-item">
                          
                          <i class="fa fa-train fa-5x icon-color" aria-hidden="true"></i>
                          <h3> Un moyen intelligent</h3>
                          <p class="text-muted text-justify">Un moyen de partage et de solidarité pour faire de économies et des rencontres sympatiques.</p>
                      </div>
               </div>
                  </div>
              </div>        
          </div>
          <!-- end row-->

      </div>    
    </div>

    <div id="showcase bg-warning">
        <div class="container paddingZero">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="text-center">TOUS VOS OBJETS SUR TOUS LES TRAJETS</h2>
                    <div id="carouselExampleControls" class="carousel slide multi-item-carousel" data-ride="carousel" data-interval="2000" >
                        <ol class="carousel-indicators">
                                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/frigo.png" class="d-block w-100 ">
                                </div>
                                <div class="col-md-3">
                                    <img src="assets/dossier.png" class="d-block w-100 ">
                                </div>
                                <div class="col-md-3">
                                    <img src="assets/pannier.png" class="d-block w-100 ">
                                </div>
                                <div class="col-md-3">
                                    <img src="assets/cles.png" class="d-block w-100 ">
                                </div>
                              </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                  <div class="col-md-3">
                                      <img src="assets/guitare.png" class="d-block w-100 ">
                                  </div>
                                  <div class="col-md-3">
                                      <img src="assets/canape.png" class="d-block w-100">
                                  </div>
                                  <div class="col-md-3">
                                      <img src="assets/velo.png" class="d-block w-100 ">
                                  </div>
                                  <div class="col-md-3">
                                      <img src="assets/ordi.png" class="d-block w-100 ">
                                  </div>
                                </div>
                              </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>

                </div>
           </div>
       </div>
      </div>

<div id="communaute" class="bg-cloud text-dark">
    <div class="container padding-80">
        <div class="row justify-content-md-center">
            <h2 class="font-70 light">NOTRE COMMUNAUTÉ</h2>
        </div>
        <br>
        <div class="row justify-content-md-center">
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card mr-auto">
                    <div class="card-body">
                      <h3 class="card-title">Beluga s'aggrandit</h3>
                      <p class="card-text text-justify">Beluga s'aggrandit tous les jours. Rejoignez maintenant notre communauté de transporteurs et expéditeurs. Des objets en partance vou attente.</p>
                    </div>
                  </div>
             </div>
             <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                      <h3 class="card-title">Beluga sur les réseaux Facebook et twitter</h3>
                      <p class="card-text text-justify">Liker Beluga sur facebook et Partager nos publications avec de vos amis. Il est possible qu'une personne y trouve un objet à transporter.</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card w-100">
                      <div class="card-body">
                        <h3 class="card-title">Inviter vos amis</h3>
                        <p class="card-text text-justify">Inviter vos amis à découvrir les nouveautés Sendizy. Créer votre compte en quelques minutes et Publier vos annonces gratuitement.</p>
                      </div>
                    </div>
             </div>
        </div>
        </div>
        <br><hr>
    </div>      
  </div>


<div id="joindre" class="bg-cloud text-dark">
    <div class="container padding-80">
        <div class="row justify-content-md-center">
            <h2 class="font-70 light">Rejoignez nous sur Facebook</h2>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="fb-page" data-href="https://www.facebook.com/sendizy.fr/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br>	
        </div>
        <br><hr>
    </div>      
  </div>


<div id="footer" class="bg-cloud text-dark">

        <div class="wrapper_footer">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="text-left">Société</h3>
                  <ul>
                    <li><a href="http://sendizy.fr/genese">A propos</a></li>
                      <li><a href="http://sendizy.fr/partenariats">Partenariats</a></li>
                      <li><a href="http://sendizy.fr/nousrejoindre">Nous rejoindre</a></li>
                      <li><a href="http://sendizy.fr/mentions">Mentions légales</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                <h3 class="text-left">Comment ça marche</h3>
                  <ul>
                      <li><a href="http://sendizy.fr/utilisation">Mode d'emploi</a></li>
                      <li><a href="http://sendizy.fr/cgu">CGU</a></li>
                      <li><a href="http://sendizy.fr/interdictions">Marchandises reglementées</a></li>
                      <li><a href="http://sendizy.fr/peser">Bien peser son colis</a></li>
                      <li><a href="http://sendizy.fr/envoi_regles">Règles d'envoi d'un colis</a></li>
                    </ul>
              </div>
              <div class="col-md-3">
                    <h3 class="">Mon compte</h3>
                    <ul>
                        <li><a href="http://sendizy.fr/inscription">S'inscrire</a></li>
                        <li><a href="http://sendizy.fr/connexion">Se connecter</a></li>
                        <li><a href="http://sendizy.fr/mdpoublie">Mot de passe oublié</a></li>
                      <li><a href="http://sendizy.fr/diffusion">Charte</a></li>
                    </ul>
                  </div>
              <div class="col-md-3">
                <h3 class="text-left">Aide</h3>
                  <ul>
                      <li><a href="http://sendizy.fr/faq">FAQ</a></li>
                      <li><a href="http://sendizy.fr/contact">Nous contacter</a></li>
                      <li><a href="http://sendizy.fr/confiance">Confiance et sécurité</a></li>
                      <li><a href="http://sendizy.fr/experiences">Niveau d'expérience</a></li>
                    </ul>
              </div>
            </div>
            
          <div class="clear"> </div>
              <div class="text-center">
                <p class="copy-right">&copy; 2016 Beluga | Tous droits réservés</p>
                <a class="to-top" href="#header"><span> </span> </a>
              </div>
          </div>	
        </div>
  </div>